@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

body {
    margin: 0px;
    // font-family: 'Roboto', sans-serif;
    font-family: "Russo One", sans-serif;
    font-weight: 300;
}

// ESTILOS LOGO

.container-principal-logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    gap: 41px;

    .hamburger {
        display: none;
    }

    .logo {
        height: 57px;

        img {
            width: 90%;
            height: 90%;
        }
    }

    .container-nav {

        display: flex;
        justify-content: center;
        font-size: 16px;
        gap: 41px;

        a {
            text-decoration: none;
            color: #4D4D4D;
            font-weight: 500;
        }

        :hover {
            color: #10B2B2;
        }

        .active {
            border: 3px solid #10B2B2;
            border-radius: 22px;
            padding: 6px;
            color: #10B2B2;
        }
    }

}



// ESTILOS HEADER

.container-header {
    background-image: url(img/img-banner.png);
    width: 100%;
    max-width: 1924px;
    height: 670px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;

    .button-comprar button {
        width: 210px;
        height: 50px;
        border: 5px solid #FFFFFF;
        border-radius: 35px;
        cursor: pointer;
        color: #FFFFFF;
        text-shadow: 7px 7px 5px #000000F2;
        font-size: 27px;
        background: none;
        box-shadow: 7px 7px 5px #000000F2;
        font-weight: 600;
    }

    .button-comprar {
        position: absolute;
        text-align: center;
        bottom: 39px;
        position: absolute;
        text-align: center;
        bottom: 50px;
        display: flex;
        justify-content: center;
        width: 100%;
    }

}

// NUMEROS AFORTUNADOS

.primer-premio {
    margin-top: 30px;
    border: 2px solid #10B2B2;
    width: 250px;
    padding: 20px 0px;
    height: 150px;
}

.afortunado-600 p,
.afortunado-200 p {
    font-size: 32px !important;
    color: #4D4D4D;
    text-align: center;
}

.borde-color-banner-afortunados {
    background-color: #10B2B2;
    padding-bottom: 30px;
}

.container-600 {
    display: flex;
    gap: 30px;
    color: #4D4D4D;
    text-align: center;
    padding-bottom: 10px;
    justify-content: center;
    font-size: 20px;
    padding-top: 30px;
}

.container-200 {
    display: flex;
    gap: 30px;
    color: #4D4D4D;
    text-align: center;
    padding-bottom: 10px;
    justify-content: center;
    font-size: 20px;
    padding-top: 10px;
    flex-wrap: wrap;
}

.afortunado-200 {
    display: flex;
    gap: 30px;
    color: #4D4D4D;
    text-align: center;
    padding-bottom: 10px;
    justify-content: center;
    font-size: 20px;
    padding-top: 10px;
}

.container-dinero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-bottom: 20px;

    p {
        margin: 0px;
    }

}

// TOTAL NÚMEROS VENDIDOS


.borde-color-banner {
    border-top: 20px solid #066D6A;

    .container-total-numeros {
        background-color: #10B2B2;
    }

    .total-numeros {
        h1 {
            margin: 0px;
            color: #FFFFFF;
            font-size: 32px;
            text-align: center;
            // font-weight: 500;
            padding: 30px;

        }
    }
}



.progress-container {
    width: 100%;
    max-width: 600px;
    padding: 40px 0px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0 auto;

    .progress-percentage {
        font-size: 37px;
        color: #10B2B2;
        font-weight: 700;
        white-space: nowrap;
    }

    .progress-bar-wrapper {
        flex: 1;
        background-color: #ddd;
        border-radius: 999px;
        padding: 8px;
    }

    .progress-bar {
        width: 100%;
    }

    .progress-bar-fill {
        background-color: #00a5a5;
        height: 30px;
        width: 12%;
        border-radius: 999px;
    }

}

h1.title-afortunados {
    padding-top: 30px;
    margin-bottom: 0px !important;
    color: #ffffff;
    text-align: center;
}

p.parrafo-afortunados {
    color: #ffffff;
    text-align: center;
    margin: 0px;
    font-style: italic;
}

.fecha-sorteo {
    width: 100%;
    max-width: 800px;
    text-align: center;
    margin: 0 auto;

    p {
        color: #4D4D4D;
        font-size: 17px;
        margin: 0px;
        padding: 0px 85px 30px;
        font-weight: 500;
    }

}


// ESTILOS CARD OPORTUNIDADES

.container-oportunidades {
    background-image: url(img/bn-oportunidades.png);
    background-size: cover;
    background-repeat: no-repeat;

    .title-oportunidades {
        h1 {
            color: #FFFFFF;
            text-align: center;
            padding: 55px 30px;
            margin: 0px;
        }
    }

    .contenido-oportunidades {
        display: flex;
        justify-content: center;
        gap: 30px;
        padding-bottom: 50px;
    }

    .card-plata,
    .card-oro,
    .card-diamante {
        background: #f6f6f6;
        border-radius: 12px;
        width: 220px;
        padding: 20px 0px;
        text-align: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        position: relative;
    }

    .badge {
        font-size: 13px;
        padding: 5px 10px;
        border-radius: 20px;
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);

        img {
            width: 55px;
            height: 55px;
        }
    }

    .title {
        color: #00b7bd;
        font-weight: bold;
        font-size: 20px;
        margin: 15px 0;
    }

    .cantidad {
        font-size: 37px;
        font-weight: bold;
        color: #4D4D4D;
    }

    .precio {
        background: #10B2B2;
        color: white;
        padding: 10px;
        font-size: 31px;
        font-weight: bold;
        margin: 10px 0;
    }

    .btn-comprar {
        border: 3px solid #10B2B2;
        border-radius: 38px;
        padding: 8px 20px;
        color: #00b7bd;
        font-weight: bold;
        background-color: transparent;
        cursor: pointer;
        font-size: 18px;
        margin-top: 10px;

        &:hover {
            background-color: #00b7bd;
            color: #FFFFFF;
            transition: all 0.3s ease;
            border: 3px solid #FFFFFF;
        }

    }

}

// REDES SOCIALES

.bubble-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.redes-sociales {
    display: flex;
    gap: 15px;
}

.instagram img {
    cursor: pointer;
    width: 40px !important;
    height: 40px !important;
}

.social-icon {
    position: relative;
}

.social-icon img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.social-icon img:hover {
    transform: scale(1.1);
}

/* Notificación más estilizada */
.notification-bubble {
    position: absolute;
    top: -3px;
    right: -2px;
    width: 13px;
    height: 13px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: bold;
    border: 1px solid black;
}

// .container-oportunidades .btn-comprar{
//     &:hover {
//         background-color: #00b7bd;
//         color: #FFFFFF;
//         transition: all 0.3s ease;
//         border: 3px solid #FFFFFF;
//     }
// }

// ESTILOS FOOTER

.container-footer {
    display: flex;
    justify-content: center;

    .contenido-footer {
        display: flex;
        justify-content: center;
        gap: 30px;
    }

    .title-footer {
        color: #10B2B2;
        font-size: 20px;
        // font-weight: 600;
        margin: 50px 0px 10px;
    }

    .img-medios-pago img {
        width: 290px;
    }

    .first-content,
    .content-contact,
    .content-medios-pago {
        width: 280px;
        color: #4D4D4D;
    }

    .contenido {
        font-size: 15px;
        margin: 0px;
    }
}

// COPYRIGHT

.container-copyright {
    display: flex;
    justify-content: center;
    align-items: baseline;
    background-color: #2D2D2D;
    color: #FFFFFF;
    font-size: 18px;
    padding: 20px 0px;
    gap: 50px;

    p {
        font-size: 14px;
        margin: 0px;
    }

    .container-politicas {
        display: flex;
        justify-content: center;
        gap: 50px;

        a {
            text-decoration: none;
            color: #FFFFFF;
            font-size: 14px;
        }

        a:hover {
            text-decoration: underline;
            color: #10B2B2;
            font-weight: 700;
        }
    }
}


.copyright {
    width: 100%;
    max-width: 400px;

    a {
        text-decoration: none;
        color: #FFFFFF;
        font-size: 14px;
    }

    a:hover {
        text-decoration: underline;
        color: #10B2B2;
        font-weight: 700;
    }

}

// ESTILOS MODAL


.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    display: none;
}

div#modal {
    display: none;
    border: 1px solid #707070;
    opacity: 1;
    backdrop-filter: blur(17px);
}



.modal-overlay.active {
    display: flex;
    border: 1px solid #707070;
    opacity: 1;
    backdrop-filter: blur(17px);
    -webkit-backdrop-filter: blur(17px);
}

a.politica-modal {
    color: #4D4D4D;

    &:hover {
        color: #10B2B2;
        text-decoration: underline;
    }
}

input#total-pago {
    width: 98%;
    max-width: 438px;
    height: 28px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    color: #4D4D4D;
    padding-left: 10px;
    font-size: 16px;
}

.modal {
    background: white;
    border-radius: 10px;
    width: 100%;
    max-width: 452px;
    padding: 20px;
    z-index: 9999;
    position: fixed;
    top: 0;
    bottom: 0;
    box-shadow: 0px 2px 12px 0px rgba(27, 27, 27, 0.15);
}

.modal-header {
    background-color: #10B2B2;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 24px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: -20px -20px 20px -20px;
    position: relative;
}

.close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    background: white;
    border-radius: 5px;
    border: none;
    width: 26px;
    height: 26px;
    font-weight: bold;
    color: red;
    cursor: pointer;
}

.modal form {
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.form-group input,
.form-group select {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.full-width {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 20px;
}

.contacto-container {
    display: flex;
    justify-content: normal;
    align-items: center;
    gap: 5px;
}

.contacto-container img {
    width: 25px;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
    color: #4D4D4D;
}

.total-box {
    color: #4D4D4D;
    background: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.checkbox {
    display: flex;
    align-items: baseline;
    margin: 10px 0;
}

.checkbox input {
    margin-right: 8px;
}

.pay-btn {
    background: #ffffff;
    color: #4D4D4D;
    font-weight: bold;
    border: none;
    padding: 10px;
    border-radius: 30px;
    border: 2px solid #4D4D4D;
    cursor: pointer;
    font-size: 16px;
    width: 138px;
    margin: 0 auto;
}

.pay-btn:hover {
    background: #00b2b2;
    color: #ffffff;
    transition: all 0.3s ease;
    border: 2px solid #ffffff;
}


.input-icon {
    background-color: #00b2b2;
    /* turquesa */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}

.input-group input {
    border: none;
    outline: none;
    padding: 10px;
    flex: 1;
    font-size: 14px;
}

.input-group {
    display: flex;
    width: 100%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
}

.input-icon {
    background-color: #00b2b2;
    /* turquesa */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}

.input-icon img {
    width: 20px;
    height: 20px;
    filter: brightness(0) invert(1);
    /* convierte el ícono a blanco */
}

.input-group select {
    border: none;
    outline: none;
    padding: 10px;
    flex: 1;
    font-size: 14px;
    background-color: white;
    color: #4D4D4D;
    padding-left: 0px;
}

.total-oportunidades {
    padding-top: 5px;

    input {
        width: 98%;
        max-width: 438px;
        height: 28px;
        border: 1px solid #DDDDDD;
        border-radius: 4px;
    }

}

input[type="number"] {
    padding-left: 10px;
    color: #4D4D4D;
    font-size: 16px;
}

.container-header .button-comprar button:hover {
    background-color: #00a5a5;
    color: #FFFFFF;
    transition: all 0.3s ease;
}




@media (max-width: 679px) {
    // AFORTUNADOS

    .container-dinero {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    p.parrafo-afortunados{
        padding: 0px 12px;
    }


    // BANNER
    .container-header {
        background-image: url(img/banner-celular.jpg) !important;
        background-size: cover;
        height: 360px;
    }

    .container-header .button-comprar button {
        width: 170px;
        height: 44px;
        font-size: 22px;
    }


    // barra porcentaje

    .progress-container {
        display: block;

    }

    .progress-container .progress-percentage {
        text-align: center;
        margin: 0 auto;
        padding-bottom: 20px;
    }

    // PAQUETE DE OPORTUNIDADES
    .container-oportunidades .contenido-oportunidades {
        display: grid;
    }

    .fecha-sorteo p {
        padding: 0px 25px 30px;
    }

    .borde-color-banner .total-numeros h1 {
        font-size: 26px;
        padding: 20px 0px;
    }

    // FOOTER

    .container-footer {

        .contenido-footer {
            display: block;
            justify-content: center;
        }

    }

    .progress-container .progress-bar-wrapper {
        margin: 0px 20px;
    }

    .container-oportunidades .title-oportunidades h1 {
        font-size: 26px;
    }



    .container-copyright .container-politicas {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
    }


    .container-copyright {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        padding-left: 12px;
    }

    .copyright p {
        padding-bottom: 10px;
    }

    .modal {
        width: 100%;
        max-width: 330px;
    }

    .container-principal-logo {
        align-items: flex-start;
        gap: 10px;
    }

    .container-principal-logo .logo img {
        width: auto;
        height: 79%;
    }

    .hamburger {
        display: block !important;
        font-size: 30px;
        background: none;
        border: none;
        cursor: pointer;
        margin-left: auto;
    }

    .container-principal-logo .container-nav {
        display: none;
        flex-direction: column;
        width: 100%;
        gap: 8px;
        margin-top: 10px;
    }

    .container-nav.active {
        display: flex;
    }

}